{% extends "index.html" %}
{% load static %}

{% block image %}
<h2 class="p-3 fw-bold text-center">{{lesson.title}}</h2>
<div id="pixi-container"></div>
    {% if step.image %}
        <img src="{% static 'images/' %}{{ step.image }}" class="p-3" alt="omg" style="max-width: 400px;">
    {%endif%}
{% endblock image %}
{% block script %}
    {% if step.script %}
        <script src="https://pixijs.download/release/pixi.min.js"></script>
        <script src="{% static 'scripts/'%}{{ step.script }}?v={% now 'U' %}"></script>
    {% endif %}
{% endblock script %}
{% block content %}
    <div class="container-sm d-flex justify-content-center align-items-center shadow border border-2 rounded mt-5" style="min-width:sm; max-width:500px; background-color: var(--bs-gray-100); flex-direction:column">
        <p class="text-break p-1">{{step.body}}</p>
        <div class="d-flex w-100 flex-wrap justify-content-between">
            <div class="d-flex">
                {% if has_previous %}
                <a href="/lessons/{{lesson.slug}}/{{pr_step}}" class="btn btn-primary justify-self-start align-self-end m-1">Назад</a>
                {% else %}
                <div class="btn invisible" disabled></div>
                {% endif %}
            </div>
            <div class="d-flex">
                {% if has_next %}
                <a href="/lessons/{{lesson.slug}}/{{next_step}}" class="btn btn-primary justify-self-end align-self-end m-1">Далее</a>
                {% else %}
                <a href="/lessons/" class="btn btn-success m-1 text-nowrap">Назад к списку уроков</a>
                {% endif %}
            </div>
        </div>
    </div>   
{% endblock content %}